/* Контейнер для выравнивания всех фотографий в галерее.
   Фотографии размещаются в несколько строк,
   с переносом не уместившихся на новую строку 
 */

.photo-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Фотография (рисунок с подписью в рамке).
   Все изображения в галерее должна быть одного размера, 
   хотя сами фотографии могут быть любыми.
   Длина подписи может различаться.
*/

.photo {
	width: 240px;
	margin: 15px 5px;
	text-align: center;
	border: 2px solid #A62800;
	background-color: #FF9473;
}

/* Само изображение.
   Рисунок обрезается под размер рамки, 
   а не сжимается.
*/

.photo img {
	min-height: 300px;
	height: 300px;
	min-width: 100%;
	width: 100%;
	object-fit: cover;
}

/* При наведении мыши показывается все фото целиком,
   подстраиваяся под размер рамки.
*/

.photo img:hover {
	object-fit: scale-down;
}